In [1]:
import pandas as pd

In [2]:
A = pd.DataFrame(index=[1,2,3], columns=['Drug', 'ExperimentID'])
B = pd.DataFrame(index=[1,2,3,4,5], columns=['Drug', 'Target', 'Sign'])

In [4]:
A['Drug']=['Drug1', 'Drug2', 'Drug3']
A['ExperimentID']=['X1', 'X2', 'X3']

In [5]:
A

    Drug ExperimentID
1  Drug1           X1
2  Drug2           X2
3  Drug3           X3

In [8]:
B['Drug']=['Drug1', 'Drug1', 'Drug2', 'Drug2', 'Drug3']
B['Target']=['G1', 'G2', 'G3', 'G4', 'G5']
B['Sign']=[1, 1, -1, 1, -1]

In [9]:
B

    Drug Target  Sign
1  Drug1     G1     1
2  Drug1     G2     1
3  Drug2     G3    -1
4  Drug2     G4     1
5  Drug3     G5    -1

In [10]:
pd.merge(left=A, right=B, left_on='Drug', right_on='Drug')

    Drug ExperimentID Target  Sign
0  Drug1           X1     G1     1
1  Drug1           X1     G2     1
2  Drug2           X2     G3    -1
3  Drug2           X2     G4     1
4  Drug3           X3     G5    -1